Repository Ahontic/bookstore_rg: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, bundle, yarn, i18n

lefthook.yml:

pre-commit:
  parallel: true

  commands:
    rubocop:
      skip: true # TODO: fix rubocop
      glob: "*.rb"
      run: |
        bundle exec rubocop {staged_files} --parallel

    brakeman:
      run: |
        bundle exec brakeman --quiet \
                             --ensure-latest \
                             --no-pager \
                             --no-summary

    bundle:
      glob: "{Gemfile,Gemfile.lock}"
      run: |
        bundle exec bundle-audit check --update \
                                       --ignore CVE-2015-9284 \
                                       --quiet && \
        bundle exec bundle-leak check --update

    yarn:
      glob: "{package.json,yarn.lock}"
      run: |
        yarn audit

    i18n:
      glob: "*.{rb,yml,html.haml}"
      run: |
        bundle exec i18n-tasks health

    haml-lint:
      skip: true # TODO: fix haml-lint
      run: |
        bundle exec haml-lint

default: &default
  commands:
    bundle:
      files: git diff --name-only HEAD master
      glob: "{Gemfile,Gemfile.lock}"
      run: |
        bundle install
    yarn:
      files: git diff --name-only HEAD master
      glob: "{package.json,yarn.lock}"
      run: |
        yarn install

post-checkout:
  <<: *default

post-merge:
  <<: *default

post-rewrite:
  <<: *default

all:
  parallel: true

  commands:
    brakeman:
      run: |
        bundle exec brakeman --ensure-latest \
                             --no-pager

    bundle:
      run: |
        bundle exec bundle-audit check --update \
                                       --ignore CVE-2015-9284 && \
        bundle exec bundle-leak check --update

    rubocop:
      skip: true # TODO: fix rubocop
      run: |
        bundle exec rubocop --parallel

    fasterer:
      run: |
        bundle exec fasterer

    haml-lint:
      skip: true # TODO: fix haml-lint
      run: |
        bundle exec haml-lint app

    yarn:
      run: |
        yarn audit

    i18n:
      glob:
      run: |
        bundle exec i18n-tasks health

setup_terraform
  .dockerignore
  .gitignore
  Gemfile
  Gemfile.lock
  deploy/bin/build/nginx_image.sh
  deploy/bin/deploy/base.sh
  deploy/bin/deploy/staging.sh
  deploy/bin/variables/staging.sh
  docker/nginx/Dockerfile
  docker/nginx/configs/nginx.conf
  docker/nginx/configs/templates/default.conf
  docker/nginx/docker-entrypoint.sh
  docker/staging/Dockerfile
  docker/staging/docker-entrypoint.sh
  terraform/.gitignore
  terraform/environments/global/iam.tf
  terraform/environments/global/outputs.tf
  terraform/environments/global/variables.tf
  terraform/environments/global/vpc.tf
  terraform/environments/staging/cloudwatch.tf
  terraform/environments/staging/ec2.tf
  terraform/environments/staging/ecr.tf
  terraform/environments/staging/ecs.tf
  terraform/environments/staging/elb.tf
  terraform/environments/staging/main.tf
  terraform/environments/staging/outputs.tf
  terraform/environments/staging/rds.tf
  terraform/environments/staging/templates/container_definitions.json
  terraform/environments/staging/variables.tf
  terraform/environments/staging/vpc.tf
  terraform/main.tf
  terraform/modules/ecs_cluster/main.tf
  terraform/modules/ecs_cluster/outputs.tf
  terraform/modules/ecs_cluster/templates/user_data.sh
  terraform/modules/ecs_cluster/variables.tf
  terraform/terraform.tfvars
  terraform/variables.tf
Due: bundle

Database.yml fix
  .gitignore
  config/database.yml
  db/schema.rb
  db/seeds.rb
Due: rubocop, i18n

Test enc creds
  .circleci/config.yml
  config/credentials/test.yml.enc
Due: i18n

CI config add rails_env test
  .circleci/config.yml
Due: i18n

Move simplecov to separate file
  .simplecov
  spec/rails_helper.rb
Due: rubocop, i18n

Remove figaro gem
  .simplecov
  Gemfile
  Gemfile.lock
  config/application.rb
  config/database.yml
Due: rubocop, bundle, i18n

Add api health route
  Gemfile
  config/routes.rb
  deploy/bin/build/nginx_image.sh
  docker/staging/Dockerfile
Due: rubocop, bundle, i18n
